<!DOCTYPE html>
<html>
<head>
    <title>Stream Video</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
    <h2>{{ video.title }}</h2>
    <video id="video" width="640" height="360" controls></video>
    <script>
        var video = document.getElementById('video');
        var videoSrc = "/media/{{ video.hls_path }}";
        if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = videoSrc;
        }
    </script>
</body>
</html>
